<%- include('header') %>
  <div class="dashboard-cards-container" >
    <div class="row">
        <div class="col s12 m4 center-align">
          <div class="card-panel teal lighten">
            <span class="white-text">Your streak <%= user.streak %>/30
            </span>
          </div>
        </div>

        <div class="col s12 m4 center-align">
          <div class="card-panel teal lighten">
            <span class="white-text">Most recent workout: <%= user.mostRecentWorkout %>
            </span>
          </div>
        </div>

        <div class="col s12 m4 center-align">
          <div class="card-panel teal lighten">
            <span class="white-text">
                Average Accuracy: <%= user.accuracy %>%
            </span>
          </div>
        </div>
      </div>
  </div>

  <div class="row workout list">
    <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout/shoulders">
        <img class="img-fluid" src="/images/shoulders.png"/>
        </a>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout/biceps">
          <img class="img-fluid" src="/images/biceps.jpg" />
        </a>
      </div>
    </div>
    <!-- <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout/legs">
          <img class="img-fluid" src="/images/legs.jpg"/>
        </a>
      </div>
    </div> -->

    <!-- <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout">
          <img class="img-fluid" src="/images/biceps.jpg"/>
          change image here
        </a>
      </div>
    </div> -->
  </div>
</div>

]
<%- include('footer') %>

